<div class = "public_search px-4">

  <%= form_with(scope: :search, url: search_path, method: :get, local: true) do |f| %>

    <div class = "public_search_form mb-5">

      <div class = "public_search_select_field">
        <%= f.select :prefecture, Store.prefectures.keys.map {|k| [I18n.t("enums.store.prefecture.#{k}"), k]}, options = { include_blank: false }, placeholder: "都道府県", class: "form-control" %>
      </div>

      <div class = "public_search_text_field">
        <%= f.text_field :store_name, placeholder: "店舗名", class: "form-control" %>
      </div>

      <div class = "public_search_select_field">
        <%= f.select :search_method, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]), {prompt: "検索方法"}, {class: "form-control"} %>
      </div>

      <div class = "public_search_time_field">
        <%= f.time_field :visit_time, placeholder: "訪問時間", class: "form-control" %>
      </div>

      <div class = "public_search_select_field">
        <%= f.collection_select :visit_day_id, Day.all, :id, :name, {prompt: "訪問曜日"}, {class: "form-control"} %>
      </div>

      <div class = "public_search_number_field">
        <%= f.number_field :budget, placeholder: "予算", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "再検索", class: "btn btn-outline-secondary public_search_button" %>
      </div>

    </div>

  <% end %>

  <div class = "public_search_map">
    <h5>検索結果</h5>
    <div id = 'map'>
  </div>

  <% @search_stores.each do |search_store| %>
    <div class = "hidden_store" id = "store_<%= search_store.id %>" >
      <div class = "public_search_click_store mt-5 mb-4">
        <h5>店舗情報</h5>
        <div class = "row">
          <div class = "public_search_click_store_image col-sm-4"><%= image_tag search_store.get_store_image("330x260!") %></div>
          <div class = "public_search_click_store_overview col-sm-8">
            <div class = "public_search_click_store_name"><%= search_store.name %></div>
            <div class = "public_search_click_store_prefecture"><%= search_store.prefecture_i18n %></div>
            <div class = "public_search_click_store_closest_station"><%= search_store.store_genre.name %> / <%= search_store.closest_station %></div>
            <% if search_store.reviews.length > 0 %>
              <div class = "public_search_click_store_review_score_bar">
                <div>
                  <i class = "fa-regular fa-star"></i>
                  <dd>
                    <span style="width: <%= search_store.reviews.map(&:score).sum.fdiv(search_store.reviews.map(&:score).length).round %>%">
                      <%= search_store.reviews.map(&:score).sum.fdiv(search_store.reviews.map(&:score).length).round %>点
                    </span>
                  </dd>
                </div>
              </div>
            <% end %>
            <div class = "public_search_click_store_review"><i class="fa-regular fa-comment icon_size"></i><%= search_store.reviews.count %>件</div>
            <div class = "public_search_click_store_price_range"><i class = "fa-solid fa-coins icon_size"></i><%= search_store.lowest_price_range %> ～ <%= search_store.highest_price_range %>円</div>
            <div class = "public_search_click_store_opening_hour"><i class="fa-regular fa-clock icon_size"></i>
              <%# cocoon箇所 %>
              <%# 営業時間の存在確認 %>
              <% if search_store.opening_hours.count == 0 %>
                <%# 営業時間なしの場合の表示 %>
                営業時間情報なし
              <% else %>
                <%# 営業時間がある場合の表示 %>
                <% search_store.opening_hours.each do |opening_hour| %>
                  <% opening_hour_counter = 1 %>
                  <%= opening_hour.opening_time.strftime("%-H:%M") %> ～ <%= opening_hour.closing_time.strftime("%-H:%M") %>
                  <% if opening_hour_counter < search_store.opening_hours.count %>
                    &emsp;
                    <% opening_hour_counter += 1 %>
                <% end %>
                <% end %>
              <% end %>
            </div>

            <div class = "public_search_click_store_regular_holiday"><i class="fa-solid fa-store-slash icon_size"></i>
              <% day_counter = 1 %>
              <% search_store.days.order("id").each do |day| %>
                <%= day.name %>
                <% if day_counter < search_store.days.count %>
                  ・
                  <% day_counter += 1 %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<style>
.hidden_store{
  display: none;
}

</style>

<script>

function initMap() {

  // 変数の使用宣言
  let map;
  let markers = []
  let infoWindows = []
  // 定数の使用宣言＆controllerからインスタンス変数を受け取る
  const search_stores = JSON.parse('<%== @search_stores_json || [] %>')

  // 地図表示
  map = new google.maps.Map(document.getElementById('map'), {
    // 中心位置の設定（lat → 緯度、lng → 経度）
    center: { lat: 34.6937, lng: 135.5021 },
    // 地図の拡大縮小設定
    zoom: 8,
  });

  // 受け取った店舗数分、処理を繰り返す
  for (let i = 0; i < search_stores.length; i++) {

    // 店舗情報を配列に格納する（1データ）
    const search_store = search_stores[i]

    // マーカーを表示
    markers[i] = new google.maps.Marker({
      position: { lat: search_store.lat, lng: search_store.lng },
      map: map,
      id: search_store.id
    });

    // 情報ウィンドウの表示内容
    infoWindows[i] = new google.maps.InfoWindow({
      content: `
        <a href="stores/${search_store.id}">${search_store.name}</a>
      `
    })

    // マーカーをクリックした時の挙動
    markers[i].addListener('click', () => {
      // 情報ウィンドウを開く
      infoWindows[i].open(map, markers[i])

      // 受け取った店舗数分、処理を繰り返す
      for (let j = 0; j < search_stores.length; j++){
        // 店舗idとクリックした店舗idが等しい場合 → hidden_storeクラスを削除（店舗情報を表示）
        // 店舗idとクリックした店舗idが異なる場合 → hidden_storeクラスを追加（店舗情報を非表示）
        if (search_stores[j].id == markers[i].id) {
          $('#store_' + search_stores[j].id).removeClass('hidden_store');
        } else {
          $('#store_' + search_stores[j].id).addClass('hidden_store');
        }
      }

    })
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_JAVASCRIPT_API_KEY'] %>&callback=initMap" async defer></script>
