<%= form_with model: @user, url: user_password_path, method: :patch, class: 'registration-main', local: true do |f| %>
  <%#= render "public/shared/error_messages", resource: resource %>

  <div class = "public_exit_password_form px-4">

    <h5 class = "mb-4">パスワードの再設定</h5>

    <div class = "field mb-4">
      <%= f.label :password, "新しいパスワード（8文字以上）：", class: "public_exit_password_label" %>
      <div class = "public_exit_password_field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", class: "form-control" %>
      </div>
    </div>

    <div class = "field mb-4">
      <%= f.label :password, "新しいパスワード（確認用）：", class: "public_exit_password_label" %>
      <div class = "public_exit_password_field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", class: "form-control" %>
      </div>
    </div>

    <%# 隠しフィールドでトークンもパラメーターで送る。
    こうすることでDBに保存されているリセットトークンと
    ここから送られたトークンが一致するか確認している。 %>
    <%= f.hidden_field :reset_password_token %>

    <div class = "actions mb-4">
      <%= f.submit "パスワード変更", class: "btn btn-success public_change_password_button" %>
    </div>

  </div>

<% end %>
