<%= form_with model: @user, url: update_information_path(@user.id) do |f| %>

  <div class = "public_user_edit_form px-4">

    <h5>会員情報編集&emsp;&ensp;<span class = "cautionary_note">全項目入力必須</span></h5>

    <div class = "mb-4">
      <div class = "field">
        <%= f.label :name, "名前：", class: "public_user_edit_label" %>
        <div class = "public_user_edit_text_field">
          <%= f.text_field :name, placeholder: "名前を入力してください", class: "form-control" %>
        </div>
      </div>
      <div class = "mt-2">
        <!-- name_error -->
        <%= render "public/shared/error_messages", resource: @user, column: :name %>
      </div>
    </div>

    <div class = "mb-4">
      <div class = "field">
        <%= f.label :name_kana, "名前（カナ）：", class: "public_user_edit_label" %>
        <div class = "public_user_edit_text_field">
          <%= f.text_field :name_kana, placeholder: "名前（カナ）を入力してください", class: "form-control" %>
        </div>
      </div>
      <div class = "mt-2">
        <!-- name_kana_error -->
        <%= render "public/shared/error_messages", resource: @user, column: :name_kana %>
      </div>
    </div>

    <div class = "mb-4">
      <div class = "field">
        <%= f.label :nickname, "ニックネーム：", class: "public_user_edit_label" %>
        <div class = "public_user_edit_text_field">
          <%= f.text_field :nickname, placeholder: "ニックネームを入力してください", class: "form-control" %>
        </div>
      </div>
      <div class = "mt-2">
        <!-- nickname_error -->
        <%= render "public/shared/error_messages", resource: @user, column: :nickname %>
      </div>
    </div>

    <div class = "mb-4">
      <div class = "field">
        <%= f.label :sex, "性別：", class: "public_user_edit_label" %>
        <div class = "public_user_edit_radiobutton_field">
          <%= f.collection_radio_buttons :sex, User.sexes_i18n, :first, :last do |b| %>
            <%= b.label(class: "mr-5") { b.radio_button(class: "mr-2") + b.text } %>
          <% end %>
        </div>
      </div>
      <div class = "mt-2">
        <!-- sex_error -->
        <%= render "public/shared/error_messages", resource: @user, column: :sex %>
      </div>
    </div>

    <div class = "mb-4">
      <div class = "field">
        <%= f.label :postal_code, "郵便番号：", class: "public_user_edit_label" %>
        <div class = "public_user_edit_text_field">
          <%= f.text_field :postal_code, placeholder: "郵便番号を入力してください", class: "form-control" %>
        </div>
      </div>
      <div class = "mt-2">
        <!-- postal_code_error -->
        <%= render "public/shared/error_messages", resource: @user, column: :postal_code %>
      </div>
    </div>

    <div class = "mb-4">
      <div class = "field">
        <%= f.label :address, "住所：", class: "public_user_edit_label" %>
        <div class = "public_user_edit_text_field">
          <%= f.text_field :address, placeholder: "住所を入力してください", class: "form-control" %>
        </div>
      </div>
      <div class = "mt-2">
        <!-- address_error -->
        <%= render "public/shared/error_messages", resource: @user, column: :address %>
      </div>
    </div>

    <div class = "mb-4">
      <div class = "field">
        <%= f.label :telephone_number, "電話番号：", class: "public_user_edit_label" %>
        <div class = "public_user_edit_text_field">
          <%= f.text_field :telephone_number, placeholder: "電話番号を入力してください", class: "form-control" %>
        </div>
      </div>
      <div class = "mt-2">
        <!-- telephone_number_error -->
        <%= render "public/shared/error_messages", resource: @user, column: :telephone_number %>
      </div>
    </div>

    <div class = "mb-5">
      <div class = "field">
        <%= f.label :email, "メールアドレス：", class: "public_user_edit_label" %>
        <div class = "public_user_edit_email_field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", autocomplete: "email", placeholder: "メールアドレスを入力してください", class: "form-control" %>
        </div>
      </div>
      <div class = "mt-2">
        <!-- email_error -->
        <%= render "public/shared/error_messages", resource: @user, column: :email %>
      </div>
    </div>

    <div class = "public_user_edit_action mb-4">
      <div class = "actions">
        <%= f.submit "編集内容を保存", class: "btn btn-success public_user_update_button" %>
      </div>

      <div class = "actions">
        <%= link_to unsubscribe_path, class: "btn btn-danger public_user_unsubscribe_button" do %>
          退会する
        <% end %>
      </div>
    </div>



  </div>

<% end %>
